<!DOCTYPE html>
<html>
<head>
    <title><%= typeof title == 'undefined' ? 'ChatApp' : title %></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/chat.css">
    <style>
        #chatForm {
            visibility: hidden;
        }
    </style>
    <!--STYLES END-->
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Chat Application</a>
        </div>
    </div>
</div>
<%if(!p.login){%>
<%}else{%><meta http-equiv="refresh" content="0; url=http://localhost:3000/login" /><%}%>
<div class="container" id="userForm">
    <div class="jumbotron">
        <div class="login">
            <div class="login-header">
                <h1>Login</h1>
            </div>
            <form class="login-form">
                <h3>Username:</h3>
                <input type="text" placeholder="Enter Username" name="username" id="username"/>
                <br>
                <button type="submit" class="btn btn-lg btn-success">Start Chat</button>
                <br>
                <br>
            </form>
        </div>
    </div>
</div>
<div class= "chatForm" id="chatForm">
    <%if(p.interviewer_image){%>
    <figure class="image">
        <img src="<%= p.interviewer_image%>"  class="img-thumbnail" alt="Responsive image">
        <kbd>You are now chatting with <%=p.botname%></kbd>
    </figure>
    <%}else{%><%include ../partials/header %><%}%>
    <div class="chat" <%if(p.interviewer_image){%> style="margin-left: 350px;" <%}%>>
        <div class="chat-title">
            <h1>Chat Room</h1>
            <h2> Welcome to Chat Application!</h2>
            <figure class="avatar">
                <img src="<%= p.chat_image %>" />
            </figure>
        </div>

        <div class="messages" id="chat">
            <div class="messages-content"></div>
        </div>
        <form id="messageForm">
            <div class="message-box">
                <textarea type="text" id="message" class="message-input" placeholder="Type message..."></textarea>
                <button type="submit" class="message-submit">Send</button>
                <input type="hidden" id="username"/>
	            <input type="hidden" id="botname" value="<%=p.botname%>" />
	            <input type="hidden" id="interviewer_name" value="<%= p.interviewer_name %>" />
            </div>
        </form>
    </div>
</div>
<div class="bg"></div>

<% if(p.interviewer_image == ""){%><%include ../partials/footer%><%} %>

<!--SCRIPTS-->
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/jquery.validate.js"></script>
<script src="/javascripts/socket.io.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/enscroll-0.6.2.min.js"></script>
<script>
    $(function () {
        var socket = io.connect();
        var $messageForm = $('#messageForm');
        var $message = $('#message');
        var $chat = $('#chat');
        var $chatForm = $('#chatForm');
        var $userForm = $('#userForm');
        var $username = $('#username');
        var $botname = $('#botname');
        var $interviewer_name = $('#interviewer_name');
//        $("#username").val("test");

        $messageForm.submit(function (e) {
            e.preventDefault();
            console.log('Submitted');
            socket.emit('send message2', {msg:$message.val(), botname: $botname.val(), interviewer_name: $interviewer_name.val()});
            $message.val('');
            $username.val('');
        });

        $('textarea').bind("enterKey", function (e) {
            $messageForm.submit();
        });
        $('textarea').keyup(function (e) {
            if (e.keyCode == 13) {
                $(this).trigger("enterKey");
            }
        });
        socket.on('new message2', function (data) {
            console.log("data message:::::"+data.msg);
            $chat.append('<div class="message message-personal">' + 'You' + '</strong>:' + data.msg + '</div>');
        });
        socket.on('typing', function(message){
            $chat.append('<div class="message loading"></div>');
        });
        socket.on('chat message2', function(msg){
            if (msg.msg == 'KTHXBYE') {
                $chat.append('<div class="message new"><figure class="avatar"><img src="<%= p.type_image %>" /></figure>' + msg.user + ' has left the chat' + '</div>');
                $('.message.loading').remove();
                $messageForm.css('visibility','hidden');
            } else {
                $chat.append('<div class="message new"><figure class="avatar"><img src="<%= p.type_image %>" /></figure>' + msg.user + '</strong>:' + msg.msg + '</div>');
            }
            $('.message.loading').remove();
        });
        $userForm.submit(function (e) {
            e.preventDefault();
            console.log('Submitted');
            socket.emit('new user', $username.val());
            $userForm.hide();
            $chatForm.css('visibility','visible');
        });

        $chat.enscroll({
            showOnHover: true,
            verticalTrackClass: 'track3',
            verticalHandleClass: 'handle3'
        });
        $chat.bind("DOMSubtreeModified",function() {
            $chat.animate({
                scrollTop: $chat[0].scrollHeight
            });
        });
        $('textarea').keypress(function(e){
            var dNow = new Date();
            var localdate= dNow.toISOString();
            socket.emit('keypress', {'keypress': 'keypress', letter: String.fromCharCode(e.charCode), timestamp: localdate});
        });
        $('textarea').keyup(function(e){
            var dNow = new Date();
            var localdate= dNow.toISOString();
            socket.emit('keyup', {'keyup': 'keyup', letter: e.keyCode, timestamp: localdate});
        });
        $('textarea').keydown(function(e){
            var dNow = new Date();
            var localdate= dNow.toISOString();
            socket.emit('keydown', {'keydown': 'keydown', letter: e.keyCode, timestamp: localdate});
        });
    });
</script>
<!--SCRIPTS END-->

</body>
</html>
